/*-- scss:defaults --*/

// ref: https://quarto.org/docs/output-formats/html-themes.html#custom-themes

// Base document colors
$body-bg: #404040;
$body-color: white;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;